*{
    font-family: 'Poppins', sans-serif;
}

body{

    margin-left: 10%;
    margin-right: 10%;
}

.banner_h1text{
    font-family: 'EB Garamond';

font-size: 72px;
font-weight: 800;
line-height: 85px;
color: #FFFFFF;

}

.banner_paragraph{


font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #E7E7E7;}


.cardheader{
    font-family: 'EB Garamond';
    font-weight: 800;
    font-size: 40px;
    line-height: 52px;
    color: #414040;}

.card2{
    background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
    border: 1px solid #E7E7E7;}

.box_container{
    margin-top: 120px;

}